<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mdd.share.mapper.NewestTitleMapper" >
  <resultMap id="BaseResultMap" type="com.mdd.share.model.NewestTitle" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="newest_key" property="newestKey" jdbcType="VARCHAR" />
    <result column="newest_title" property="newestTitle" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, newest_key, newest_title, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from newest_title
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="queryNewestTitleByKey" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from newest_title
    where  newest_key = #{newestKey}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from newest_title
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.mdd.share.model.NewestTitle" >
    insert into newest_title (newest_key, newest_title,
      create_time, update_time)
    values (#{newestKey,jdbcType=VARCHAR}, #{newestTitle,jdbcType=VARCHAR},
      now(), now())
  </insert>

</mapper>